@media (min-width: 325px) and (max-width: 767px) {
  .center {
    margin-left: 12px;
    margin-right: 12px;
  }

  .header {
    &__input {
      display: none;
    }

    &__link-box {
      display: none;
    }

    &__link {
      display: none;
    }

    .header__mobile-menu {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
}
