@media (min-width: 325px) and (max-width: 767px) {
  .center {
    margin-left: 16px;
    margin-right: 16px;
  }

  .header {
    padding-top: 32px;
    &__input {
      display: none;
    }

    &__link-box {
      display: none;
    }

    &__link {
      display: none;
    }

    .header__mobile-menu {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }

  .top__main-title {
    min-width: 343px;
    min-height: 176px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: center;
    // padding: auto;
  }

  .for__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .item-horizontal {
    height: 244px;
  }

  .item-vertical {
    height: 374px;
  }

  .item {
    font-size: 28px;
  }

  .product-box {
    row-gap: 32px;
  }

  .product__item {
    grid-column: span 12;
  }

  .product__title {
    margin-top: 32px;
    font-size: 24px;
  }

  .item__img {
    min-height: 226px;
  }

  .item__title {
    margin-top: 9px;
    font-size: 18px;
  }
  .item__text {
    margin-top: 4px;
    font-size: 14px;
  }
  .item__price-box {
    margin-top: 8px;
    display: flex;
    gap: 32px;
  }
  .current_price {
    font-size: 18px;
  }
  .old_price {
    font-size: 18px;
  }
}
