@media (min-width: 768px) and (max-width: 1023px) {
  .center {
    margin-left: 24px;
    margin-right: 24px;
  }
  .for__content {
    display: grid;
    grid-template-columns: (12, 1fr);
    gap: 30px;
    grid-template-rows: 265px 268px;
  }

  .product-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 29px;
    row-gap: 39px;
  }

  .product__item {
    grid-column: span 6;
  }
}
