@media (min-width: 768px) and (max-width: 1023px) {
  .center {
    margin-left: 24px;
    margin-right: 24px;
  }
  .for__content {
    display: grid;
    grid-template-columns: (12, 1fr);
    gap: 30px;
    grid-template-rows: 265px 268px;
  }

  .product-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 29px;
    row-gap: 39px;
  }

  .product__item {
    grid-column: span 6;
  }

  .footer {
    margin-top: 64px;
    &__content {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }

    &__logo {
      display: none;
    }

    .footer__contacts {
      grid-column: span 3;
    }

    &__icon-box {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    &__form {
      grid-column: span 3;
    }
  }
}
