* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.center {
  margin-left: 120px;
  margin-right: 120px;
}

.top-catalog {
  height: 400px;
  background: url(img/top_catalog.jpeg), rgb(196, 196, 196);
}

.top-cart {
  height: 400px;
  background: url(img/top_cart.jpeg), rgb(196, 196, 196);
}

.top-index {
  background: url(img/top_background.jpg), rgb(196, 196, 196);
  height: 735px;
}

.main-title-container {
  padding-top: 126px;
  padding-bottom: 128px;
}

.top-main-title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
}

.top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  &__content {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 76px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;

    &__mobile-menu {
      display: none;
    }

    &__input {
      width: 288px;
      height: 41px;
      box-sizing: border-box;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 20px;
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
      background-color: transparent;
      padding-left: 32px;
      font-family: Montserrat, sans-serif;
    }
    &__input::placeholder {
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      font-family: Montserrat, sans-serif;
    }
    &__input:focus {
      outline: none;
      box-shadow: none;
      border-color: initial; /* или указать свой цвет */
    }
    &__link-box {
      width: 170px;
      display: flex;
      gap: 32px;
    }
    &__link {
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
    }
    &__link:hover {
      text-decoration: underline;
    }
  }

  &__main-title {
    // min-width: 792px;
    margin-top: 63px;
    min-height: 140px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0%;
    box-sizing: border-box;
  }

  &__text {
    margin-top: 16px;
    margin-bottom: 16px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
  }

  &__link {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
  }
}

.for {
  margin-top: 64px;
  &__heading {
    margin-bottom: 32px;
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0%;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 415px 415px;
    gap: 32px;
  }

  .item-horizontal {
    grid-column: span 6;
  }

  .item-vertical {
    grid-column: span 4;
  }

  .item {
    color: rgb(255, 255, 255);
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .item_1 {
    background: url(img/for1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item_2 {
    background: url(img/for2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item_3 {
    background: url(img/for3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item_4 {
    background: url(img/for4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item_5 {
    background: url(img/for5.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.product {
  &__title {
    margin-top: 64px;
    margin-bottom: 32px;
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0%;
  }
  &-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
    row-gap: 56px;
  }

  &__item {
    grid-column: span 4;
    .item_content {
      display: flex;
      flex-direction: column;
    }
    .item__img {
      object-fit: cover;
      object-position: center;
      min-height: 250px;
    }
    .item__title {
      margin-top: 10px;
      color: rgb(0, 0, 0);
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0%;
      text-align: left;
    }
    .item__text {
      margin-top: 9px;
      color: rgb(136, 136, 136);
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0%;
      text-align: left;
    }
    .item__price-box {
      margin-top: 12px;
      display: flex;
      gap: 32px;
    }
    .current_price {
      color: rgb(5, 5, 5);
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0%;
      text-align: left;
    }
    .old_price {
      color: rgb(136, 136, 136);
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      letter-spacing: 0%;
      text-align: left;
      text-decoration-line: line-through;
    }
  }

  .catalog-bootom-link {
    display: block;
    margin-top: 39px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
  }
}

.footer {
  margin-top: 64px;
  background: rgb(247, 246, 246);
  min-height: 207px;

  &__content {
    display: flex;
    justify-content: space-between;
  }
  .logo-box {
    margin-top: 32px;
    // margin-right: 212px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 129px;
    // margin-right: 192px;
  }
  &__item {
    margin-top: 32px;
    margin-bottom: 59px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__heading {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__link {
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__icon-box {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__form {
    min-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 64px;
    flex-wrap: wrap;
  }
  &__text {
    width: 260px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__input {
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgb(196, 196, 196);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 17px;
    padding-bottom: 12px;
    padding-top: 13px;
    min-width: 260px;
  }
  &__input::placeholder {
    color: rgb(196, 196, 196);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__input:focus {
    outline: none;
  }
  &__button {
    text-align: center;
    padding-bottom: 12px;
    padding-top: 13px;
    // padding-left: 85px;
    // padding-right: 85px;
    border-radius: 16px;
    background: rgba(222, 215, 215, 0.41);
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    border: none;
    box-sizing: border-box;
    min-width: 260px;
  }
}

// catalog

.bread-crumbs-box {
  margin-top: 64px;
  margin-bottom: 41px;
  display: flex;
  justify-content: space-between;
  .bread-crumbs-navigation {
    display: flex;
    gap: 10px;
    align-items: center;
    .bread-crumbs-link {
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0%;
      text-align: left;
    }
    .bread-crumbs-link:hover {
      text-decoration: underline;
    }
  }
  .bread-crumbs-filtration {
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    .filtration-select {
      color: rgb(0, 0, 0);
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: left;
      box-sizing: border-box;
      border: 1px solid rgb(196, 196, 196);
      border-radius: 20px;
      appearance: none;
      padding-left: 23px;
      padding-right: 54px;
      padding-top: 9px;
      padding-bottom: 11px;
      &:focus {
        outline: none;
      }
      background: url(img/filtration.svg);
      background-repeat: no-repeat;
      background-position: right 22px bottom 16px;
    }

    .filtration1 {
    }
    .filtration2 {
      padding-right: 56px;
    }

    .gray_text {
      font-weight: 400;
    }
  }
}

// cart

.cart-content {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 33px;
  box-sizing: border-box;
  .cart-content__product {
    grid-column: span 8;
    .heading_line {
      display: grid;
      grid-template-columns: 7fr 1fr;
    }
  }

  .end {
    grid-column: end;
  }
  .cart-card {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    padding-top: 25px;
    margin-top: 14px;
    border-top: 0.5px solid rgb(202, 205, 216);
    gap: 31px;
  }

  .card-cart__right-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .right-side__title {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }

  .right-side__description {
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 3fr;
  }

  .right-side__price {
    color: rgb(5, 5, 5);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
  }

  .cart-content__form {
    grid-column: span 4;
  }

  .right-side__link-box {
    display: flex;
    gap: 30px;
    .right-side-link {
      color: rgb(0, 0, 0);
      font-size: 14px;
      font-weight: 400;
      line-height: 210%;
      letter-spacing: 0px;
      text-align: center;
      text-decoration-line: underline;
    }
  }

  .number__count {
    grid-column: end;
    border-radius: 6px;
    background: rgb(247, 246, 246);
    width: 71px;
    height: 51px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    line-height: 210%;
    letter-spacing: 0px;
    text-align: center;
  }

  .buttons_block {
    margin-top: 50px;
    display: flex;
    gap: 7px;
    .buttons-cart {
      box-sizing: border-box;
      border: 1px solid rgb(0, 0, 0);
      background-color: transparent;
      border-radius: 50px;
      width: 200px;
      height: 37px;
      color: rgb(2, 2, 2);
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0px;
      text-align: center;
    }
  }
}

@import "tablet";
@import "mobile";
