@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.center {
  margin-left: 120px;
  margin-right: 120px;
}

.top {
  height: 735px;
  background: url(img/top_background.jpg), rgb(196, 196, 196);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.top__content {
  display: flex;
  flex-direction: column;
}
.top .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}
.top .header__mobile-menu {
  display: none;
}
.top .header__input {
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  background-color: transparent;
  padding-left: 32px;
  font-family: Montserrat, sans-serif;
}
.top .header__input::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  font-family: Montserrat, sans-serif;
}
.top .header__input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  font-family: Montserrat, sans-serif;
}
.top .header__input:focus {
  outline: none;
  box-shadow: none;
  border-color: initial; /* или указать свой цвет */
}
.top .header__link-box {
  width: 170px;
  display: flex;
  gap: 32px;
}
.top .header__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.top .header__link:hover {
  text-decoration: underline;
}
.top__main-title {
  margin-top: 63px;
  min-height: 140px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  box-sizing: border-box;
}
.top__text {
  margin-top: 16px;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}
.top__link {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.for {
  margin-top: 64px;
}
.for__heading {
  margin-bottom: 32px;
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
}
.for__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 415px 415px;
  gap: 32px;
}
.for .item-horizontal {
  grid-column: span 6;
}
.for .item-vertical {
  grid-column: span 4;
}
.for .item {
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.for .item_1 {
  background: url(img/for1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.for .item_2 {
  background: url(img/for2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.for .item_3 {
  background: url(img/for3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.for .item_4 {
  background: url(img/for4.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.for .item_5 {
  background: url(img/for5.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product__title {
  margin-top: 64px;
  margin-bottom: 32px;
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
}
.product-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
}
.product__item {
  grid-column: span 4;
}
.product__item .item_content {
  display: flex;
  flex-direction: column;
}
.product__item .item__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  min-height: 250px;
}
.product__item .item__title {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.product__item .item__text {
  margin-top: 9px;
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.product__item .item__price-box {
  margin-top: 12px;
  display: flex;
  gap: 32px;
}
.product__item .current_price {
  color: rgb(5, 5, 5);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.product__item .old_price {
  color: rgb(136, 136, 136);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .center {
    margin-left: 24px;
    margin-right: 24px;
  }
  .for__content {
    display: grid;
    grid-template-columns: 12, 1fr;
    gap: 30px;
    grid-template-rows: 265px 268px;
  }
  .product-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .product__item {
    grid-column: span 6;
  }
}
@media (min-width: 325px) and (max-width: 767px) {
  .center {
    margin-left: 16px;
    margin-right: 16px;
  }
  .header {
    padding-top: 32px;
  }
  .header__input {
    display: none;
  }
  .header__link-box {
    display: none;
  }
  .header__link {
    display: none;
  }
  .header .header__mobile-menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .top__main-title {
    min-width: 343px;
    min-height: 176px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: center;
  }
  .for__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .item-horizontal {
    height: 244px;
  }
  .item-vertical {
    height: 374px;
  }
  .item {
    font-size: 28px;
  }
  .product-box {
    row-gap: 32px;
  }
  .product__item {
    grid-column: span 12;
  }
  .item__img {
    min-height: 226px;
  }
  .item__title {
    margin-top: 9px;
    font-size: 18px;
  }
  .item__text {
    margin-top: 4px;
    font-size: 14px;
  }
  .item__price-box {
    margin-top: 8px;
    display: flex;
    gap: 32px;
  }
  .current_price {
    font-size: 18px;
  }
  .old_price {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */